@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Londrina+Shadow&family=Nova+Round&display=swap');
/* font-family: 'Galindo', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Nova Round', cursive; */

body{
    /* background-color: red; */
    /* background-image: url('img\bg.png');
    background-repeat: repeat-y; */
    font-family: 'Nova Round', cursive;
}

h1 {
    font-family: 'Galindo', cursive;
}

.line {
    font-family: 'Londrina Shadow', cursive;
}