@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Italiana&display=swap');
body:not(.dark-theme) {
  --primary-color: #000;
  --secondary-color: #fff;
  --yellow: #f1c900;
  --font1: 'Italiana', serif;
  --font2:'Gowun Batang', serif;
}
.dark-theme {
  --primary-color: #fff;
  --secondary-color: #000;
  --yellow: #f1c900;
  --font1: 'Italiana', serif;
  --font2:'Gowun Batang', serif;
}

  body, header, main, footer, div, span, h1, h2, h3, h4, h5, h6, p, button, a{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
 
  /* Dark mode class */

/* CONTAIN ALL including frames */
  .container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
  }

/* NO FRAMEs, Header/Main/Footer */
  .inner_container {
    position: relative;
    top: 10vh;
    left: 12vw;
    width: 78vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
/* HEADER - logo, contact */
  header {
    position: relative;
    z-index: 2;
    background-color: var(--secondary-color);
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .logo {
    grid-column: 1/span 1;
  }
  .contact {
    grid-column: 8/span 4;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .contact img {
    margin: 0.5rem;
    transition: 0.5s;
  }
  .contact img:hover {
    transform: rotate(30deg) scale(1.1);
  }


/* MAIN(GRID)- content, divider, nav*/
  main {
    position: relative;
    margin: auto;
    /* overflow: scroll; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .content {
    grid-column: 1/ span 9;
  }
  /* .divider {
    grid-column: 10/ span 1;
    background-color: var(--yellow);
    clip-path: polygon(93% 0, 100% 5%, 100% 100%, 93% 95%);
  } */

  /* BORDER-LEFT for lists */
  .nav, .project_copy, .contact_page{
    border-left: 4px var(--yellow) solid;
  }
  .nav {
    grid-column: 11/ span 2;
    z-index: 2;
  } 
  .nav ul li {
    font-size: 1.6rem;
    line-height: 4rem;
    font-weight: 600;
  }
  .nav ul {  
    list-style-image: url('../image/list_daymode.png');
  }
.header__menu-icon, .header__menu {
  display: none;
}


  /* About page _column display */
  .column {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* padding: 1em 0 0 0; */
  }
  .column_child1 {
    grid-column: 1 / span 2;
    /* width: 40%; */
  }
  .column_child2 {
    grid-column: 3/ span 4;
    /* width: 60%; */
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Project page */
  .project_copy {
    padding: 1rem;
    margin: 1rem 0;
  }


  /* Contact page */
  .contact_page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
    align-items: left;
  }
  .contact_page_list {
    display: flex;
    flex-direction: row;
    padding: 1.2rem;
  }
  .contact_page img {
    width: 3rem;
    transition: 0.5s;
  }
  .contact_page img:hover {
    transform: rotate(20deg) scale(1.3);
  }
  .contact_page_list p {
    background-color: transparent;
    font-size: 1.44rem;
    font-family: var(--font1);
    font-weight: 600;
    transition: 0.5s;
  }
  .contact_page_list a {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .contact_page_list p:hover {
    transform: skew(-20deg);
  }




  /* Tool */
  .tool_container{
    display: flex;
    flex-direction:row;
  }
  .tool {
    display: inline-block;
    margin: 0.4rem;
    padding: 0.2rem 0.5rem;
    font-family: var(--font1);
    font-weight: 600;
    /* tool button stays black(visibility) */
    color: black;
    border-radius: 1rem;
    background-color: var(--yellow);
  }

  /* BUTTON */
  button {
    border: none;
    background-color: transparent;
    padding: 1rem 0;
    font-size: 1.2rem;
    text-transform: uppercase; 
    
  }  
  button, .nav ul li {
    transition: all 0.3s;
  }
  button:hover, .nav ul li:hover{
    text-decoration: underline var(--yellow) 0.2rem;
    text-underline-offset: 0.5rem;
    transform:scale(1.02) translateX(10px);
  }

  /* a */
  a {
    text-decoration: none;
  }
  a:link,  a:visited,  a:active {
    color: var(--primary-color);
  }

  /* logo animation */
  .logo img  {
    transition: all 0.6s;
  }
  .logo img:hover {
    transform: rotate3d(0, 1, 0, 360deg) scale(1.2);
  }

/* FOOTER */
footer {
  display: flex;
  justify-content: flex-end;
}





/* image */
.logo img {
  width: 6rem;
}
.contact img {
  width: 2.4rem;
}
.profile {
  width: 100%;
  transition: all 1s;
}
.profile:hover {
  transform: rotate3d(1, 1, 0, 40deg);
}

/* font design */
.yellow {
  color: var(--yellow);
}

body {
  font-family: var(--font1);
}
p, button{
  font-family: var(--font2);
}
button{
  font-weight: 700;
}
/* font sizing */
h1 {
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 600;
}
h3 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
}
p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin: 0.2rem 0;
}
.column_child2 p {
  font-size: 1rem;
}
footer p{
  font-size: 1rem;
}






/* frame */
.frame1, .frame2 {
  position: fixed;
  transition: all 0.3s;
  z-index:999;
}
.frame1:hover{
  background-color: var(--yellow);
}
.frame2:hover{
  background-color: var(--primary-color);
}

.frame1_left {
  top: 5vh;
  left: 5vw;
  width: 1vw;
  height: 16vh;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
}
/* .frame1_left:hover{
  transform-origin: top;
  transform: scaleY(1.05);
} */

.frame1_top {
  top: 5vh;
  left: 5vw;
  width: 15vw;
  height: 1.6vh;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
}
/* .frame1_top:hover{
  transform-origin: left;
  transform: scaleX(1.05)
} */

.frame1_right {
  bottom: 5vh;
  right: 5vw;
  width: 1vw;
  height: 16vh;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 100%);
}
/* .frame1_right:hover{
  transform-origin: bottom;
  transform: scaleY(1.05)
} */

.frame1_bottom {
  bottom: 5vh;
  right: 5vw;
  width: 15vw;
  height: 1.6vh;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
}
/* .frame1_bottom:hover{
  transform-origin: right;
  transform: scaleX(1.05)
} */

.frame2_left {
  top: 8.5vh;
  left: 7vw;
  width: 0.6vw;
  height: 16vh;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 90%);
}
/* .frame2_left:hover{
  transform-origin: top;
  transform: scaleY(1.05)
} */

.frame2_top {
  top: 8.5vh;
  left: 7vw;
  width: 15vw;
  height: 1vh;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
/* .frame2_top:hover{
  transform-origin: left;
  transform: scaleX(1.05)
} */

.frame2_right {
  bottom: 8.5vh;
  right: 7vw;
  width: 0.6vw;
  height: 16vh;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}
/* .frame2_right:hover{
  transform-origin: bottom;
  transform: scaleY(1.05)
} */

.frame2_bottom {
  bottom: 8.5vh;
  right: 7vw;
  width: 16vw;
  height: 1vh;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}
/* .frame2_bottom:hover{
  transform-origin: right;
  transform: scaleX(1.05)
} */

  