:root {
    --pink: #F0B1B7;
}

.s {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    -webkit-animation: s 4.5s linear forwards;
    animation: s 4.5s linear forwards;
    
}

@keyframes s {
    0%{
        fill: none;
    }
    20% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000
    }
}

/* pink: #F0B1B7 */
.c {
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    -webkit-animation: c 4.5s linear forwards;
    animation: c 4.5s linear forwards;
}

@keyframes c {
    20% {
        stroke-dashoffset: 410;
    }
    40% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000
    }
}

.h {
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    -webkit-animation: h 4.5s linear forwards;
    animation: h 4.5s linear forwards;
}

@keyframes h {
    0%{
        fill: none;
    }
    40% {
        stroke-dashoffset: 350;
    }
    60% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000
    }
}

.o {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    -webkit-animation: o 4.5s linear forwards;
    animation: o 4.5s linear forwards;
}

@keyframes o {
    0%{
        fill: none;
    }
    60% {
        stroke-dashoffset: 250;
    }
    80% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000
    }
}

.o_fill {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    -webkit-animation: o_fill 4.5s linear forwards;
    animation: o_fill 4.5s linear forwards;
}

@keyframes o_fill {
    0%{
        fill: none;
    }
    60% {
        stroke-dashoffset: 150;
    }
    80% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #F0B1B7;
    }
}

.i {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: draw 4.5s linear forwards;
    animation: draw 4.5s linear forwards;
}

@keyframes draw {
    0%{
        fill: none;
    }
    80% {
        stroke-dashoffset: 300;
    }
    98% {
        stroke-dashoffset: 0;
    }
    99% {
        fill: white;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #000
    }
}

.dot {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    -webkit-animation: dot 0.4s 4.3s ease-in forwards;
    animation: dot 0.4s 4.3s ease-in forwards;
    visibility: hidden;
}

@keyframes dot {
    0% {
        transform: translateY(0px) scaleY(100%);
        visibility: visible;
        fill: #000;
        stroke: #000;
    }
    40% {
        transform: translateY(28px) scaleY(50%);
    }
    /* 45% {
        transform: translateY(0px) scaleY(100%);
    }
    55% {
        transform: translateY(28px) scaleY(60%);
        stroke: #F0B1B7;
        fill: #F0B1B7;
    } */
    
    100% {
        visibility: visible;
        transform: translateY(0px) scaleY(100%);
        stroke: #F0B1B7;
        fill: #F0B1B7;
    }
}